@import "tailwindcss";

:root {
  --color-primary: #0b1e3f;
  --color-secondary: #f6c244;
  --color-accent: #d72638;
  --color-dark: #1a1a1a;

  --background: #ffffff;
  --foreground: #000000;

  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-primary: #102040;
    --color-secondary: #e8b23c;
    --color-accent: #ff3b3b;
    --color-dark: #0a0a0a;
  }
}
